<footer>
  <ion-row class="footer">
    <ion-col>
      <button [routerLink]="['/videos']" ion-button icon-only color="grey" clear small class="footer w20">
        <img src="../assets/player.png">
        <div class="label-footer">Player</div>
      </button>
    </ion-col>
    <ion-col>
      <button [routerLink]="['/add-product']" ion-button icon-only color="grey" clear small class="footer w20">
        <img src="../assets/add.png">
        <div class="label-footer">Inserieren</div>
      </button>
    </ion-col>
    <ion-col>
      <button [routerLink]="['/chats']" ion-button icon-only color="grey" clear small class="footer w20">
        <img src="../assets/chat.png">
        <div class="label-footer">Chat</div>
      </button>
    </ion-col>
  </ion-row>
</footer>