<main-header></main-header>

<ion-content>
    <div class="ion-padding">
  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  <h2 class="main-title text-center"><img src="assets/bedge.png"> Premium Option </h2>
  <p class="paragraph-description text-center">Erhalte mehr Sichtbarkeit und Aufmerksamkeit für deine Produkte mit Hilfe von Premiumoptionen!</p>

      <div class="main-list">
        <div class="list-detail">
<h6 class="list-left">Einmaliges hoch pushen</h6>
 <p class="checklist-desc">Dein Artikel wird ganz nach oben geschoben und landet  wieder auf der ersten Seite der Kategorie.</p>
      </div>
      </div>
  <div class="main-list">
    <div class="list-detail">
      <h6 class="list-left">Einmaliges hoch pushen</h6>
      <p class="checklist-desc">Dein Artikel wird ganz nach oben geschoben und landet  wieder auf der ersten Seite der Kategorie.</p>
    </div>
  </div>
  <div class="main-list">
    <div class="list-detail">
      <h6 class="list-left">Einmaliges hoch pushen</h6>
      <p class="checklist-desc">Dein Artikel wird ganz nach oben geschoben und landet  wieder auf der ersten Seite der Kategorie.</p>
    </div>
  </div>
  <div class="main-list">
    <div class="list-detail">
      <h6 class="list-left">Einmaliges hoch pushen</h6>
      <p class="checklist-desc">Dein Artikel wird ganz nach oben geschoben und landet  wieder auf der ersten Seite der Kategorie.</p>
    </div>
  </div>
  <div class="main-list">
    <div class="list-detail">
      <h6 class="list-left">Einmaliges hoch pushen</h6>
      <p class="checklist-desc">Dein Artikel wird ganz nach oben geschoben und landet  wieder auf der ersten Seite der Kategorie.</p>
    </div>
  </div>
    </div>

</ion-content>
<main-footer></main-footer>