$bluecolor: #62c2e4;
$bgcolor: #fcfcfc;

:host {
  .inner-scroll {
    &.scroll-y {
      background-color: $bgcolor;
      padding: 10px;
    }
  }

  .item-native {
    padding-left: 0px !important;
  }
}

ion-icon.md.hydrated {
  color: $bluecolor;
  margin-top: 10px;
  font-size: 21px;
  float: left;
}

.main-title {
  margin-top: -1px !important;
  position: relative;
  top: 10px;
  text-align: center;
  color: #222222;
  font-size: 15pt;
  img {
    width: 14px;
  }

}
.ion-padding {
  padding: 10px 0px;
}
.paragraph-description {
  margin-top: 19px;
  text-align: center;
  font-size: 9pt;
  color: #555555;
}

.right-check {
  float: right;
  text-align: center;
  margin-top: -19px;
  width: 31px;
  img {
    width: 20px;
  }

  p {
    font-size: 11px;
    font-weight: 600;
    color: #555555;
  }
}
.right-check img {
  width: 17px !important;
  margin-top: 0px !important;
}
.check-desc {
  float: left;
  font-size: 12px;
  width: 80%;
}

.main-label-check {
  b {
    float: left;
    width: 100%;
    color: #555555;
    font-size: 10pt;
    margin-top: 4px;
  }
}
ion-checkbox.ion-color.ion-color-secondary.md.in-item.interactive.hydrated {
  margin: 0px;
  margin-right: 20px;
  margin-top: -7px;
}
.total-check {
  .total-desc {
    float: left;
    color: #888888;
    padding-left: 20px;
    font-size: 10pt;
  }

  .totla-check-number {
    float: right;
    padding-right: 13px;
    font-weight: 600;
    font-size: 10pt;
  }
}

.button-total-check {
  width: 90%;
  margin: 0px auto;

  ion-button.md.button.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 100%;
    height: 50px;
  }
}

ion-item {
  &.item-label {
    &.item {
      &.md {
        &.in-list {
          border-bottom: 1px solid #dedede;
          --ion-background-color: #fff;
          height: 65px;
        }
      }
    }
  }
}
button.premium-optios-btns {
  background: #ffc439;
  width: 100%;
  border-radius: 62px;
  border: 2px solid #868688;
  padding: 2px 0px 16px;
  margin-top: 10px;
  img{
    width: 30px;
    position: relative;
    top: 10px;
  }
}

