
.text-register{    color: #222222;
  font-size: 18px;
  font-weight: normal;
  text-align: center;}
.backicon {
  float: left;
  width: 12px;
}
.register-account{position: relative;}
.main-image img {
  width: 100px;
}
img.cam-img {
  width: 30px !important;
  position: relative;
  left: 8px;
}
.settings{position: absolute;    right: 0px;
  top: 0px;
}
.settings img{max-width:30px !important;}
.backicon img{max-width:18px !important;}
button.myAccountbtn {
  border: 1px solid #c3c3c3;
  background: #fff;
  width: 100%;
  padding: 12px 0px;
  margin: 10px 0px;
  border-radius: 5px;
  color: #555555;
  font-weight: 400;
}


.footer {
  margin-bottom: 0px;
  background: #fff;

  margin-left: 20px;
  margin-right: 20px;


}
button.footer {
  padding: 0px;
  width: 100%;
  background: transparent;
  margin: 0px;


}
.w20 img{width:20px;    margin-bottom: 10px;}
.label-footer{font-size:12px;}
footer {
  border-top: 2px solid #fcfcfc;
  padding-top: 5px !important;
}
p.text-tc {
  background: white;
  border: 1px solid #cacaca;
  padding: 10px;
  text-align: center;
  color: #555555;
  font-size: 12px;
  border-radius: 3px;
}
span.strong-txt {
  font-weight: bold;
}
.hr-myAccount {
  margin: 20px auto;
  width: 60%;
  height: 1px;
  background: #c3c3c3;
}
.animated.fadeInDown.register-account {
  padding: 0px;
}
ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated {
  font-size: 12px;
}
.padding-0 button.button-native{padding:0px !important}
ion-ripple-effect.md.hydrated {
  border: 1px solid #cacaca;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
}
:host(.segment-button-checked) {
  border-color: none !important;
  border:none !important;
}
ion-segment-button {
  height: 34px;
  min-height: 30px;
  --padding-start: 0px;
  --padding-end: 0px;
  width: 50px !important;
  min-width: 10px !important;
  border: 1px solid #cacaca;
  margin: 2px;
  padding: 2px;
  font-size: 10px !important;
  border-radius: 4px;

}
.product-list {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #fff;
  a
  {
    text-decoration: none;
    .product-title-list {
      margin-top: 0px;
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }


  }
  .price-prod-list {
    color: #62c2e4;
    margin-bottom: 0px;
  }

  .product-icon-image {
    height: 22px;
  }
  .border-bottom {
    border-bottom: 1px solid #d4d4d4;
    height: 2px;
  }
  .bottom-icon-list {
    border-right: 1px solid #d4d4d4;
  }
  .last-orange {
    color: #f7790d;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 3px;
    img {
      width: 12px;
      margin-right: 2px;
    }
  }
}
ion-segment.sc-ion-segment-md-h.sc-ion-segment-md-s.md.hydrated {
  margin-bottom: 18px;
}
.star-right {
  float: right;
  p{
    text-align: right;
    ion-img{
      width: 24px;
      float: left;
      background: #e9e9e9;
      padding: 5px;
      border-radius: 62px;
      margin-right: 5px;
    }
  }
}
ion-segment-button.padding-0.hydrated.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant {
  background: #62c2e4;
  color: #fff;
}