
<ion-header>
  <ion-toolbar>
    <ion-title>video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    
 
     <div class="mainVido">
    
     <div class="cat-name">Video Timeline</div>
<p class="cat-pt-name">Premium Video</p>
<div class="video-player">
  <div class="play-icon"></div>
  <div class="threedots"></div>
  <div class="views">
<div class="icon-view"></div>
<div class="icon-view-text">1.234.563</div>
  </div>
  <video width="100%" height="240" controls="false" autoplay="autoplay">
    <source src="../assets/movie.mp4" type="video/mp4">
    
    Your browser does not support the video tag.
  </video>
</div>
<div class="mainUserPlayer">
    <div class="video-player-user"></div>
    <p class="namevideoPlay">NOX Cycles präsentiert das Hybrid <br><span class="hd-playername"> Enduro 6.7 2018 — 90 Nm BROSE Power…</span> </p>

</div>


    </div>
    <div class="clearfix"></div>
   
    <div class="hr"></div>
     
    <div class="mainVido">
    
 
   <div class="video-player">
     <div class="play-icon"></div>
     <div class="threedots"></div>
     <div class="views">
   <div class="icon-view"></div>
   <div class="icon-view-text">1.234.563</div>
     </div>
     <video width="100%" height="240" controls="false" autoplay="autoplay">
       <source src="../assets/movie.mp4" type="video/mp4">
       
       Your browser does not support the video tag.
     </video>
   </div>
   <div class="mainUserPlayer">
       <div class="video-player-user"></div>
       <p class="namevideoPlay">NOX Cycles präsentiert das Hybrid <br><span class="hd-playername"> Enduro 6.7 2018 — 90 Nm BROSE Power…</span> </p>
   
   </div>
   
   
       </div>
       <div class="clearfix"></div>
      
   
       <div class="hr"></div>
       <div class="mainVido">
    
 
          <div class="video-player">
            <div class="play-icon"></div>
            <div class="threedots"></div>
            <div class="views">
          <div class="icon-view"></div>
          <div class="icon-view-text">1.234.563</div>
            </div>
            <video width="100%" height="240" controls="false" autoplay="autoplay">
              <source src="../assets/movie.mp4" type="video/mp4">
              
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="mainUserPlayer">
              <div class="video-player-user"></div>
              <p class="namevideoPlay">NOX Cycles präsentiert das Hybrid <br><span class="hd-playername"> Enduro 6.7 2018 — 90 Nm BROSE Power…</span> </p>
          
          </div>
          
          
              </div>
       <div class="clearfix"></div>
              <div class="google-add">
                  <ion-img [routerLink]="['/']" src="assets/google-add.png" class="add-img"></ion-img>
                </div>
</ion-content>
<main-footer></main-footer>

