:root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
    .cat-pt-name{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 600;
}
.video-player{position:relative;}
.play-icon {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -50px;
    background-image:url("../../assets/play-img.png");
  }
  .threedots{
      position: absolute;
      background-image:url("../../assets/threedots.png");
      top: 6%;
    right: 2%;
    height: 30px;
    width: 30px;
  }
  .views{

    background-color:rgba(0, 0, 0, 0.31);
    width:100px;
    height:25px;
    
    position:absolute;
    bottom: 12%;
    left: 5%;
    padding: 5px;
    z-index: 99999;

    .icon-view{
        background-image:url("../../assets/view.png");
        float:left;
        width:25px;
    height:15px;


    }
    .icon-view-text{color:#fff;
    font-size:14px;
    float:right;

    }
  }
  ::-webkit-media-controls {
    display:none !important;
  }
  .mainUserPlayer{
      width:100%;
      float:left;
      .video-player-user
      {
        background-image:url("../../assets/video-player-user.png");
        float:left;
        width:45px;
        height: 45px;
        margin-right: 10px;
    


      }
      p.namevideoPlay {
        font-size: 13px;
        color: #555555;
        margin-bottom: 0px;
        width: 100%;
        margin-top: 5px;
    }
  }
  .hr{border:1px solid #c3c3c3;width:60%;height:1px;margin:25px auto;}
  .google-add {
    margin: 10px 0px;
}