<div padding-horizontal text-center class="animated fadeInDown register-account">
  <div class="">
    <div class="main-image">
      <span class="cam-image">
        <ion-img class="cam-img" (click)="selectImage()" src="../assets/cam-icon.png"></ion-img>
      </span>
      <ion-avatar class="ion-margin-start">
        <img [src]="picture">
      </ion-avatar>
    </div>
    <h2 ion-text class="text-primary text-register">
      {{ username }}
    </h2>
    <div [routerLink]="['/settings']" class="pull-right settings">
      <ion-img src="../assets/settings.png"></ion-img>
    </div>
  </div>
</div>