<main-header></main-header>

<ion-content padding>
    <div class="animated fadeInDown register-account bg-white">

        <div class="backicon"><img src="../assets/backicon.png"></div>
         <h2 ion-text class="text-primary insert-done">

      Inserieren 1/2
         </h2>
        </div>
        <ion-segment>
            <ion-segment-button checked class="padding-0" >
              <ion-label class="padding-0">Hardtail</ion-label>
            </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">AM/Enduro</ion-label>
            </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">AM/Enduro</ion-label>
            </ion-segment-button>
            
          </ion-segment>
    
          <ion-segment>
          
              <ion-segment-button class="padding-0">
                  <ion-label class="padding-0">XC/Tour</ion-label>
                </ion-segment-button>
              <ion-segment-button class="padding-0">
                <ion-label class="padding-0">Rennrad</ion-label>
              </ion-segment-button>
              <ion-segment-button class="padding-0">
                <ion-label class="padding-0">E-Bike</ion-label>
              </ion-segment-button>
              
            </ion-segment>
            <ion-segment>
            <ion-segment-button class="padding-0">
                <ion-label class="padding-0">BMX/Dirt</ion-label>
              </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">Urban/Fixie</ion-label>
            </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">Rahmen/Sets</ion-label>
            </ion-segment-button>
            
          </ion-segment>
          <div class="clearfix"></div>
        <div class="hr"></div>
        <ion-segment>
            <ion-segment-button class="padding-0">
                <ion-label class="padding-0">Bekleidung</ion-label>
              </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">Einzelteile</ion-label>
            </ion-segment-button>
            <ion-segment-button class="padding-0">
              <ion-label class="padding-0">Zubehör</ion-label>
            </ion-segment-button>
            
          </ion-segment>
<div class="btn-arrow">
  <button ion-button icon-start block color="dark" class="button-login">
    <img class="w15" src="../assets/right-arrow.png">
       </button>

</div>
          
</ion-content>
<main-footer></main-footer>