:root 
{
.main-login{

  // background-image:url('');
  width: 100%;
  height:799px;
  background:red;

}

ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated {
  border: 1px solid #d1d3d4;
  padding: 10px;
  border-radius: 160px;
  color: #555555;
  margin-bottom: 10px;
  padding-left: 24px;
  font-size: 14px;
}
button {
  width: 100%;
  border: none;
  border-radius: 160px;
  color: #fff;
  margin-bottom: 10px;
  padding: 18px !important;
  font-size: 14px;
  background: #62c2e4;
}

// .main-login-bg{
//   width: 60px;
//   height: 60px;
//   margin: 20px auto 0;
//   border-radius: 10%;
//   background: url("") no-repeat;
//   background-size: 100%;
// }
}