form{width:80%;margin:0px auto;}
.main-login-bg{
 
  
  width: 100%;
  height: 60%;
  background-image: url('../../assets/avatar-bg.jpg');
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.mainDiv{padding:13px 0px;}
.image-circle-avatar{
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 0px auto;
 position: relative;
 top:10px;


}
ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated {
  border: 1px solid #d1d3d4;
  padding: 10px;
  border-radius: 160px;
  color: #555555;
  margin-bottom: 10px;
  padding-left: 24px;
  font-size: 16px;
}
.white{color:#fff;font-weight: 300;    margin-top: 30px;}
button {
  width: 100%;
  border: none;
  border-radius: 160px;
  color: #fff;
  margin-bottom: 10px;
  padding: 18px !important;
  font-size: 16px;
  background: #62c2e4;
}


ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated {
  border: 1px solid #d1d3d4;
  
  border-radius: 160px;
  color: #555555;
  margin-bottom: 10px;
  padding-left: 24px !important;
  font-size: 16px;
}
.item-native{border:none !important;
}
.button-login {
  width: 100%;
  border: none;
  border-radius: 160px;
  color: #fff;
  margin-bottom: 10px;
  padding: 18px !important;
  font-size: 16px;
  background: #62c2e4;
  margin-top:4px;
}
.login-button-fb{background: #fff;
  color: #3a5998;
  border: 2px solid #3b5998;
  font-size: 16px;}x
  //  .fb-logo {
  //      width: 60px;
  //      height: 60px;
    
  //      background-image: url("../assets/fb-logo.png");
     
  //    }
  .hr
  {
  width:100%;
  height:1px;
  background:  #cacaca;
  margin:20px 0px;
  }