<ion-segment>
  <ion-segment-button [routerLink]="['/my-products']" routerLinkActive="active-link1" class="padding-0">
    <ion-label class="padding-0">ARTIKEL</ion-label>
  </ion-segment-button>
  <ion-segment-button [routerLink]="['/wishlist']" routerLinkActive="active-link2" class="padding-0">
    <ion-label class="padding-0">MERKLISTE</ion-label>
  </ion-segment-button>
  <ion-segment-button [routerLink]="['/my-account']" routerLinkActive="active-link3" class="padding-0">
    <ion-label class="padding-0">KONTO</ion-label>
  </ion-segment-button>
  <ion-segment-button class="padding-0">
    <ion-label class="padding-0">HILFE</ion-label>
  </ion-segment-button>
</ion-segment>
