// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000;
  --ion-color-dark-tint: #000;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  $colors: (blue: #387ef5,
      secondary: #32db64,
      danger: #f53d3d,
      light: #f4f4f4, // the light color we're using
      dark: #000 // the dark color we're using
    );
}



.padding-0 button.button-native {
  padding: 0px !important
}

ion-ripple-effect.md.hydrated {
  border: 1px solid #cacaca;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
}

ion-content {
  --ion-background-color: #f3f3f3;
}
ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated[_ngcontent-lve-c5] {
  font-size: 10px !important;
}
.backicon {
  display: block;
}

.backicon img {
  max-width: 18px !important;
  display: block;
}

ion-img :focus,
ion-thumbnail :focus {
  outline: none;
}

.cst-slider-wrap {
  box-shadow: 0 3px 2px -2px #d4d4d4;
}

.swiper-slide img {
  height: 55px;
}
.slider-2 .swiper-wrapper {
  margin-top: 10px;
}
input.searchbar-input.sc-ion-searchbar-md {
  background: #fff !important;
  box-shadow: none;
}
ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.hydrated.md.searchbar-left-aligned[_ngcontent-qad-c1] {
  border-bottom: 1px solid #c3c3c3;
}
.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 0% !important;
  bottom: auto !important;
  z-index: 50;
  height: 2px !important;
  width: 100%;
  top: 0px !important;
  opacity: 1 !important;
}
.swiper-scrollbar-drag {
  background: #62c2e4;
}
categories-carousel .swiper-wrapper {
  margin-top: 10px;
}
p.cat-title {
  width: 100%;
  background: #fff;
  padding-top: 5px;
  padding: 3px;
}

video-carousel ion-img {
  width: 100%;
}

.slider-price {
  border: 0.5px solid #fff;
  padding: 1px 10px !important;
}

.slider-size {
  border: 0.5px solid #fff;
  padding: 1px 10px !important;
  margin-right: 5px !important;
}

.product-heading {
  font-size: 10pt;
  font-weight: bold;
  font-family: arial !important;
}

.main-bottom-slider {
  background: #7f7f7f !important;
}

.product-slider-title {
  background: #7f7f7f !important;
}

img.product-main-slider.img-loaded {
  /*   background: #fff;*/
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {

  box-shadow: 0 11px 2px -2px #d4d4d4 !important;
}

.product-slider {
  ion-slides {
    img {
      object-fit: cover;
    }

  }
}

.bg-search-blue {

  padding: 16px 0px !important;
  border: 1px solid #fff !important;
  border-radius: 108px !important;
}

/* fixes umair WHITE border */
ion-segment-button.padding-0.md.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated.active-link3ion-segment-button.padding-0.hydrated.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant {

  border: 1px solid #fff !important;
}

.active-link1[_ngcontent-lrm-c5],
.active-link2[_ngcontent-lrm-c5],
.active-link3[_ngcontent-lrm-c5],
.active-link4[_ngcontent-lrm-c5] {

  border: 1px solid !important;
}

/* fixes umair WHITE border ends*/
.amount.elementblue {
  border: 0.5px solid #fff;
  padding-top: 2px !important;
}

.length.elementblue {
  border: 0.5px solid #fff;
  padding-top: 2px !important;
}

label.tab-label {
  padding: .9em 1em !important;
  margin-bottom: 10px;
}

.backicon {
  margin-bottom: 41px !important;
  padding-top: 30px !important;
}

ion-list.md.list-md.hydrated img {
  width: 100%;
  margin-top: 40px;
}

.product-slider {
  h5.product-heading {
    margin-bottom: 0px !important;
  }
}

h5.product-heading {
  margin-bottom: 10px !important;
}

ion-img.logo-header {
  margin-left: 11px;
}

main-footer {
  background: rgba(247, 247, 247, 0.45);
}

ion-row.footer.md.hydrated {
  background: none !important;
}
ion-menu.split-pane-side.md.menu-type-overlay.menu-enabled.menu-side-end.hydrated.menu-pane-visible ion-list.md.list-md.hydrated .row .col {
  margin-left: 0px;
}
