.slider-1 {

    .product-heading {
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 10px;
        border-bottom: 2px solid #d4d4d4;

        span {
            border-bottom: 2px solid #62c2e4;
            width: 44px;
            display: block;
            position: relative;
            top: 2px;
        }
    }

    .cst-slider-wrap {
        border: 1px solid #d4d4d4;
        margin: 2px;
        border-radius: 4px;

        a {
            text-decoration: none;
        }

        .product-main-slider {
            width: 110px;
            height: 72px;
            background: url('../../../assets/no-image.png') no-repeat center center;
            background-size: contain;
        }

        .cat-title {
            margin-bottom: 3px;
            text-transform: uppercase;
            font-size: 11px;
            text-align: center;
            color: #2d2d2d;
            margin-top: 3px;
            height: 35px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}