<ion-grid class="product-list" *ngFor="let product of _products">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img [routerLink]="'/product/' + product.id" [src]="product.filename" class="product-list-image">
        </ion-img>
      </ion-col>
      <ion-col size="6">
        <div class="list-detail">
          <a href="#">
            <h4 class="product-title-list">{{product.title}}</h4>
          </a>
          <p class="price-prod-list">{{product.price}} € - VB</p>
          <p class="size-prod-list">Größe <span>{{product.size}}</span>

          </p>
          <div class="star-right">
            <ion-img src="assets/star.png"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-grid>