

    .grid {
      padding: 0;
    }
  
    .sender, .me {
      .friend-img {
      
        // box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      }
      p {
        border-radius: 5px;
        margin: 0;
      }
    }
  
  
    .sender {
   
        text-align: left;
        background-color: #fff;
        padding: 12px 10px;
        border: 1px solid #d1d1d1;
        line-height: 3rem;
    
      .friend-img {
        margin: 0 0;
      }
    }
  
  
    .me {
      .txt {
        display: inline;
        text-align: right;
      }
           p {
        background-color: #62c2e4;
        color: #fff;
     
      }
    }
  
    .text-input {
      background-color: #fff;
      border-radius: 5px;
      padding: 5px;
    }
   
  
    .box {
 
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
  display: flex !important;
  justify-content: flex-end !important;
}
.boxleft {
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 45px;
  
}

.sender-chat-grey{color:#555 !important;border:1px solid #62c2e4 !important;background-color: #fff!important;
  color: #555!important;border-radius: 5px;    }
  .date-time {
    margin: 35px 0px;
    text-align: center;

    p{

      color:#555;
    }
}
.searchline{    
  font-size: 11px;
  color: #555555;
  text-align: left;
  margin-top: 10px;

}
.search-bar-video{
  background: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 30px !important;
  width: 100% !important;
  font-size: 11px !important;
  margin-top:10px;
  padding-left: 50px !important;
  height: 35px !important;
  text-align: left;
}
.searchline-smalltext{
  font-size: 9px;
  color: #555555;
  text-align: left;
 
}
.searchlineinput{

  float: left;
  position: relative;
  width: 100%;
  margin-top:2rem;
}
.icon-correct{
position:absolute;
width:30px;
height:23px;
background-image:url("../../assets/correct.png");
right: 4%;
z-index: 9999;
top: 16px;
}
.icon-chat-cam{position:absolute;
  width:30px;
  height:30px;
  background-image:url("../../assets/chat-cam.png");
  left: 2%;
  z-index: 9999;
  top: 12.5px;
  background-repeat: no-repeat;}
  .sender-main-chat-white {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}
.sender-main-chat {
  width: 100% !important;
}
.message-wrap {
  flex: 1 1 auto;
  // padding: 1.25rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.sender-chat {
  background: #62c2e4;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 6px;
  padding: 10px;
  position: relative;
  color: #fff;
  overflow-wrap: break-word;

}
.sender-img{
  /* width: 30%; */
  width: 70px;
  height: 90px;
}
