<main-header></main-header>

<ion-content padding>
    <div class="message-wrap">

   
            <div class="me box">
               
               
                    <div class="sender-main-chat">
                        <p class="sender-chat">Hi! Ist das Bike noch zu haben? 
                        Kann man es sich anschauen? Und 
                        sind alle Rechnungen vorhanden?</p></div>
                        <div class="sender-img">
                            <img class="friend-img sender-chat-img" src="../assets/avatar-image.png" alt="">   
                        </div>
                    
                       
                   
                 
              </div>
              <div class="me boxleft">
               
               
               
                    <div class="sender-img">
                        <img class="friend-img sender-chat-img" src="../assets/avatar-image.png" alt="">   
                    </div>
                    <div class="sender-main-chat-white">
                      <p class="sender-chat-grey">Hi! Ist das Bike noch zu haben? 
                      Kann man es sich anschauen? Und 
                      sind alle Rechnungen vorhanden?</p></div>
                
                   
               
             
          </div>
          <div class="clearfix"></div>
         <div class="date-time">
           <p>Montag, 10:40 Uhr</p>
         </div>
         <div class="me box">
               
               
          <div class="sender-main-chat">
              <p class="sender-chat">Hi! Ist das Bike noch zu haben? 
              Kann man es sich anschauen? Und 
              sind alle Rechnungen vorhanden?</p></div>
              <div class="sender-img">
                  <img class="friend-img sender-chat-img" src="../assets/avatar-image.png" alt="">   
              </div>
          
             
         
       
    </div>
    <div class="me boxleft">
     
     
     
          <div class="sender-img">
              <img class="friend-img sender-chat-img" src="../assets/avatar-image.png" alt="">   
          </div>
          <div class="sender-main-chat-white">
            <p class="sender-chat-grey">Hi! Ist das Bike noch zu haben? 
            Kann man es sich anschauen? Und 
            sind alle Rechnungen vorhanden?</p></div>
      
         
     
   
</div>
       
      </div>
     
      <div class="searchlineinput">
        <div class="icon-correct"></div>
        <div class="icon-chat-cam"></div>
    <ion-input type="text" aria-placeholder="Nachricht eingeben…" placeholder="Nachricht eingeben…"class="search-bar-video"></ion-input>
</div>
</ion-content>
<main-footer></main-footer>