<main-header></main-header>
<ion-content class="ion-padding">
    <ion-split-pane [when]="splitPaneState">
        <ion-menu side="end" contentId="content">
            <ion-content>
                <div class="backicon"><img src="../assets/backicon.png" class="bcicon" (click)="openFilter()">
                    <img src="../assets/tick.png" class="tickright">
                </div>
                <ion-list no-padding>
                    <div class="row">
                        <div class="col">
                            <div class="tabs">
                                <div class="tab">
                                    <input type="radio" id="rd1" name="rd">
                                    <label class="tab-label" for="rd1">Hersteller</label>
                                    <div class="tab-content">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, facilis.
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="radio" id="rd2" name="rd">
                                    <label class="tab-label" for="rd2">RahmengroBe</label>
                                    <div class="tab-content">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="radio" id="rd3" name="rd">
                                    <label class="tab-label" for="rd4">Federweg</label>
                                    <div class="tab-content">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="radio" id="rd4" name="rd">
                                    <label class="tab-label" for="rd4">LaufradgroBe</label>
                                    <div class="tab-content">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, aut.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </ion-list>
                <ion-list no-padding>
                    <p class="range-head">Preis</p>
                    <div class="row">
                        <div class="range-custom">
                            <ion-range [dualKnobs]="true" [pin]="false" [(ngModel)]="euro" [min]="0" [max]="2500"
                                (ionChange)="onAgeChange()">

                            </ion-range>
                            <div class="slotleft" slot="start">€ {{euro?.lower}}</div>
                            <div class="slotright" slot="end">€ {{euro?.upper}}</div>
                        </div>
                    </div>

                    <p class="range-head">Umkreis eigrenzen</p>
                    <div class="detail-range">PLZ 69181</div>
                    <div class="row">
                        <div class="range-custom">
                            <ion-range [dualKnobs]="true" [pin]="false" [(ngModel)]="km" [min]="0" [max]="400"
                                (ionChange)="onAgeChange()">

                            </ion-range>
                            <div class="slotleft" slot="start">{{km?.lower}} km</div>
                            <div class="slotright" slot="end">{{km?.upper}} km</div>
                        </div>
                    </div>
                </ion-list>
                <ion-list no-padding>
                    <img src="../assets/g-image.jpg">

                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="content" main>
        </ion-router-outlet>
    </ion-split-pane>
    <div class="main-cat">
        <div class="cat-name">{{category}}</div>
        <p class="cat-pt-name">Premium Artikel</p>
        <img src="../assets/filter.png" class="filter-button" (click)="openFilter()">
    </div>
    <div class="scroll" scrolly="true">
        <products-list [products]="products"></products-list>
    </div>
    <div class="border-bottom"></div>
</ion-content>
<main-footer></main-footer>