:host {

  .slider-1 {

    .product-heading {
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-top: 10px;
      // border-bottom: 2px solid #d4d4d4;

      span {
        border-bottom: 2px solid #62c2e4;
        width: 44px;
        display: block;
        position: relative;
        top: 2px;
      }
    }
  }

  .star-right {
    float: right;

    p {
      text-align: right;
      margin-top: -4px;
      ion-img {
        width: 24px;
        float: left;
        background: #e9e9e9;
        padding: 5px;
        border-radius: 62px;
        margin-right: 5px;
      }
    }
  }

}

.mb0 {
  margin-bottom: 0px;
  font-size: 15px;
}

.grey-bold {
  color: #555555;
  font-weight: bold;
  font-size: 15px;
}

.bold-blue {
  font-weight: bold;
}

.blue {
  color: #1f93c2;
  font-size: 18px;
}

.comments {
  background: #fff;
  border: 1px solid #c3c3c3;
  padding: 20px;
  font-size: 12px;
  border-radius: 3px;
  padding-top: 0px;
  height: 200px;
  padding-left: 4px;
}

.item-native {
  border: none;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.button-login {
  width: 80%;
  border: none;
  border-radius: 160px;
  color: #fff;
  margin-bottom: 10px;
  padding: 18px !important;
  font-size: 16px;
  background: #62c2e4;

}

.google-add {
  margin: 10px 0px;
}

.text-center-doe {
  text-align: center;
  margin-top: 0rem;
  font-size: 11px;
}

.font-10 {
  font-size: 10px;
}

.main-btn {
  margin: 0px auto;
  text-align: center;
  width: 100%;
}

.p0 {
  padding: 0px !important;
  --border-color: transparent !important;
}

.item-native {
  --border-color: red;
}
.swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.cst-slider-wrap {
  margin-right: 3px;
  margin-left: 3px;
}
// footer start

.footer {
  margin-bottom: 0px;
  background: #fff;

  margin-left: 20px;
  margin-right: 20px;


}

button.footer {
  padding: 0px;
  width: 100%;
  background: transparent;
  margin: 0px;


}

.amount {
  font-size: 15px;
}

.w20 img {
  width: 20px;
  margin-bottom: 10px;
}

.label-footer {
  font-size: 12px;
}

footer {
  border-top: 2px solid #fcfcfc;
  padding-top: 5px !important;
}

.elementblue {
  background: #61c2e4 !important;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 50px !important;
  width: 76px !important;
  display: block;
  /* height: 30px; */
  text-align: center;
  margin: 0px;
  padding: 5px 0px 7px;
  float: right;
  position: relative;
  top: -4px;
}

.relative {
  position: relative;
}

.backicon img {
  width: 13px;
}

.backicon {
  position: absolute;
  top: 5px;
  z-index: 9999;
  left: 3%;
}

.black-title {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  margin-top: 0px;
}

div#map img {
  width: 100%;
}

.main-bottom-slider {
  background: #808080;
  border-radius: 0px 0px 4px 4px;

  .slider-price {
    background: #62c2e4;
    color: #fff;
    float: left;
    padding: 2px 6px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-top: -9px;
    margin-left: 5px;
    width: 62px;
    position: relative;
    z-index: 9;
    margin-bottom: 0px;
  }

  .product-slider-title {
    background: #808080;
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin-bottom: 0px;
    padding: 7px 5px;
    border-radius: 0px 0px 4px 4px;
    clear: both;
  }
}
h5.product-heading {
  border-bottom: 2px solid #d4d4d4;
  span {
    border-bottom: 2px solid #62c2e4;
    width: 44px;
    display: block;
    position: relative;
    top: 2px;
  }
}
a {
  text-decoration: none;
}
p.slider-price:nth-child(1){
  float: left !important;
}
p.slider-price:nth-child(2){
  float: right !important;
  margin-right: 5px;
}
.product-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.padding {
  padding: 20px;
}

.box {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 14px;
  color: #555555;
  line-height: 19px;
}
