<main-header></main-header>
<ion-content>
  

        <div class="product-slider relative">
            <div class="backicon"><img src="../assets/backicon.png" class="bcicon" (click)="openFilter()">
            
          </div>
            <ion-slides [options]="{pagination: true}">
              <ion-slide>
              <img src="../assets/small-car-1.png">
              <img src="../assets/video-bg.png">
              <img src="../assets/small-car-1.png">
                <div class="bg-title">
      
               
                </div>
              </ion-slide>
            </ion-slides>
          </div>
      



  
  <div class="product-list">
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <p class="mb0 black-title">Titel of the product</p>
          <p class="mb0 black-title">Titel of the product of the second line...</p>
        </ion-col>
        <ion-col size="1">
          <div class="list-detail">

            <div class="star-right">
              <p>
                <ion-img [routerLink]="['/']" src="../assets/star.png"></ion-img>
              </p>
            </div>
          </div>

        </ion-col>
       

      </ion-row>
     
        


    
      <ion-row>
        <ion-col size="6">
          <p size class="mb0 blue"><span class="grey-bold">Preis : </span><span class="amount elementblue">12345</span>
          </p>
        </ion-col>
        <ion-col size="6">
          <p class="mb0"><span class="grey-bold">Größe:</span><span class="length elementblue">L</span>
        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p class="mb0"><span class="grey-bold">Pay Pal:</span> <span class="amount">Ja</span></p>
        </ion-col>
        <ion-col size="6">
          <p class="mb0"><span class="grey-bold">Abholung : </span> <span class="amount">Ja</span></p>
        </ion-col>
        <ion-col size="6">
          <p class="mb0 grey-bold small-size">Hersteller:</p>
          <p class="mb0 grey-bold small-size">Federweg Gabel:</p>

        </ion-col>
        <ion-col size="6">
          <p class="mb0">Specialized </p>
          <p class="mb0">160mm </p>
        </ion-col>
       


      </ion-row>

    </ion-grid>

    <ion-item class="p0">
      <ion-textarea class="comments" placeholder="Beschreibung"></ion-textarea>
    </ion-item>

    <p class="text-center-doe">Verkaufer: <span class="grey-bold">Jhon Doe</span></p>
    <div class="main-btn">

      <button ion-button icon-start block color="dark" class="button-login">

        KONTAKTIEREN
      </button>
    </div>



    <div class="google-add">
      <ion-img [routerLink]="['/']" src="assets/google-add.png" class="add-img"></ion-img>
    </div>

    <div class="main-video" padding>
        <div class="slider-1" >
            <h5 class="product-heading font-10">BEISPIELVIDEO</h5>
            <ion-slides>
              <ion-slide>
                <div class="cst-slider-wrap">
             
      
                     
                      <img src="../assets/video-bg.png">
                     
               
                </div>
      
              </ion-slide>
            </ion-slides>
          </div>
          
    <ion-grid>

        <ion-row>
  
          <ion-col size="6">
            <p class="mb0 grey-bold small-size">Hersteller:</p>
          </ion-col>
          <ion-col size="6">
            <p class="mb0">Specialized </p>
          </ion-col>
          <ion-col size="6">
            <p class="mb0 grey-bold small-size">Federweg Gabel:</p>
          </ion-col>
          <ion-col size="6">
            <p class="mb0">160mm </p>
          </ion-col>
  
  
        </ion-row>
      
  
  
      </ion-grid>
    </div>
    <div id='map'>
        <img src="../assets/g-image.jpg">
        
                </div>
 
                <div class="slider-2" padding>
                    <h5 class="product-heading">Neuste Artikel<span></span></h5>
                    <ion-slides>
                      <ion-slide >
                        <div class="cst-slider-wrap">
                          <a href="#">
                        
                            <img src="../assets/video-bg.png"  class="product-main-slider">
                            <div class="main-bottom-slider">
                              <p class="slider-price">123123123 €</p>
                              <p class="slider-price">M</p>
                              <p class="product-slider-title">Lorem Ipsum</p>
                            </div>
                          </a>
                        </div>
                        <div class="cst-slider-wrap">
                            <a href="#">
                          
                              <img src="../assets/video-bg.png"  class="product-main-slider">
                              <div class="main-bottom-slider">
                                <p class="slider-price">123123123 €</p>
                                <p class="slider-price">M</p>
                                <p class="product-slider-title">Lorem Ipsum</p>
                              </div>
                            </a>
                          </div>
                      </ion-slide>
                    </ion-slides>
                  </div>



  </div>
</ion-content>
<main-footer></main-footer>