<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown main-login-bg">
        <!-- <div class="backicon"><img src="../assets/backicon-white.png"></div> -->
      <div class="mainDiv">
        <div class="image-circle-avatar"></div>
        <h2 ion-text class="white">
          ANMELDEN
        </h2>
      </div>
    </div>
  
    <!-- Login form -->
    <form class="list-form">
  
  
      <ion-input type="email" aria-placeholder="Email" placeholder="Email" class="input-login"></ion-input>
  
  
     
      <button ion-button icon-start block color="dark" class="button-login">
  
          Passwort vergessen
      </button>
  
     

  
  
      
    </form>
  

  
  </ion-content>