/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.padding-0 button.button-native {
    padding: 0px !important
}

ion-ripple-effect.md.hydrated {
    border: 1px solid #cacaca;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

ion-content {
    --ion-background-color: #f3f3f3;
}

.backicon {
    display: block;
}

.backicon img {
    max-width: 18px !important;
    display: block;
}

ion-img :focus,
ion-thumbnail :focus {
    outline: none;
}
.cst-slider-wrap {
    box-shadow: 0 3px 2px -2px #d4d4d4;
}
.swiper-slide img {
    height: 72px;
}
p.cat-title {
    width: 100%;
    background: #fff;
    padding-top: 5px;
    padding: 3px;
}
video-carousel ion-img {
    width: 100%;
}
.slider-price {
border: 0.5px solid #fff;
    padding: 1px 10px !important;
}
.slider-size {
    border: 0.5px solid #fff;
    padding: 1px 10px !important;
    margin-right: 5px !important;
}
.product-heading {
    font-size: 10pt;
    font-weight: bold;
    font-family: arial !important;
}
.main-bottom-slider {
    background: #7f7f7f !important;
}
.product-slider-title {
    background: #7f7f7f !important;
}
button.footer.w20 img {
    margin-bottom: 5px !important;
}
img.product-main-slider.img-loaded{
 /*   background: #fff;*/
}
.swiper-container-android .swiper-slide, .swiper-wrapper {

    box-shadow: 0 11px 2px -2px #d4d4d4 !important;
}

.product-slider{
    ion-slides{
img{
    object-fit:cover;
}

    }
}
.bg-search-blue{

    padding: 16px 0px !important;
    border: 1px solid #fff !important;
    border-radius: 108px !important;
}
/* fixes umair WHITE border */
ion-segment-button.padding-0.md.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated.active-link3ion-segment-button.padding-0.hydrated.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant
{

    border: 1px solid #fff !important;
}
.active-link1[_ngcontent-lrm-c5], .active-link2[_ngcontent-lrm-c5], .active-link3[_ngcontent-lrm-c5], .active-link4[_ngcontent-lrm-c5] {

    border: 1px solid !important;
}
/* fixes umair WHITE border ends*/
.amount.elementblue {
    border: 0.5px solid #fff;
    padding-top: 2px !important;
}
.length.elementblue
{
    border: 0.5px solid #fff;
    padding-top: 2px !important;
}
label.tab-label {
    padding: .9em 1em !important;
    margin-bottom: 10px;
}
.backicon {
    margin-bottom: 41px !important;
    padding-top: 30px !important;
}
ion-list.md.list-md.hydrated img {
    width: 100%;
    margin-top: 40px;
}
.product-slider {
    h5.product-heading {
        margin-bottom: 0px !important;
    }
}
h5.product-heading {
    margin-bottom: 10px !important;
}
ion-img.logo-header {
    margin-left: 11px;
}
main-footer {
    background: rgba(247, 247, 247, 0.45);
}
ion-row.footer.md.hydrated {
    background: none !important;
}
