<main-header></main-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" (ionClear)="clearResults()"></ion-searchbar>
  <div *ngIf="products">
    <h2 class="main-title text-center">Search Result</h2>
    <div class="product-list" *ngFor="let product of products">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="list-detail">
              <a [routerLink]="'/product/' + product.id">
                <h4 class="product-title-list">{{product.title}}</h4>
              </a>
              <p class="price-prod-list">{{product.price}} € - VB</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <h2 class="main-title text-center">Alle Bikes</h2>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let category of categories" size="3">
        <a class="search-fields" [routerLink]="'/products/' + category.id">
          <div class="bg-search-blue">
            {{category.TotalProduct}}
          </div>
          <p class="search-query">{{category.title}}</p>
        </a>
      </ion-col>
    </ion-row>
    <div class="border-bottom"></div>
  </ion-grid>
</ion-content>
<main-footer></main-footer>