$bluecolor: #62c2e4;

ion-searchbar.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.hydrated.md.searchbar-left-aligned {
  padding: 0px;
  box-shadow: none !important;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none !important;
  border-bottom: 1px solid #d4d4d4 !important;
}

.search-fields {
  text-decoration: none;
  color: #000;

  .bg-search-blue {
    background: $bluecolor;
    width: 52px;
    text-align: center;
    padding: 17px 0px;
    border-radius: 38px;
    color: #fff;
    margin: 0px auto;
  }
  input.searchbar-input.sc-ion-searchbar-md {
    background: #fff !important;
    box-shadow: none;
  }
  .search-query {
    text-align: center;
    font-size: 12px;
  }
}

.border-bottom {
  border-bottom: 1px solid #d4d4d4;
  height: 2px;
  margin: 20px 50px;
}

.product-list {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #fff;

  a {
    text-decoration: none;

    .product-title-list {
      margin-top: 0px;
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }


  }

  .price-prod-list {
    color: #62c2e4;
    margin-bottom: 0px;
  }

  .product-icon-image {
    height: 22px;
  }

  .border-bottom {
    border-bottom: 1px solid #d4d4d4;
    height: 2px;
  }

  .bottom-icon-list {
    border-right: 1px solid #d4d4d4;
  }

  .last-orange {
    color: #f7790d;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 3px;

    img {
      width: 12px;
      margin-right: 2px;
    }
  }
}

ion-segment.sc-ion-segment-md-h.sc-ion-segment-md-s.md.hydrated {
  margin-bottom: 18px;
}

.star-right {
  float: right;

  ion-img {
    width: 24px;
    float: left;
    background: #e9e9e9;
    padding: 5px;
    border-radius: 62px;
    margin-right: 5px;
  }

}

.cat-pt-name {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 600;
}

.border-bottom {
  border-bottom: 1px solid #d4d4d4;
  height: 2px;
  margin: 20px 50px;
}

.split-pane {
  position: absolute;
}

ion-menu[type="overlay"] {
  z-index: 80;
  position: fixed;
}

ion-menu[type="reveal"] {
  z-index: 80;
}

.split-pane-visible {
  z-index: 2;

}

.filter-button {
  background: none !important;
  float: right;
  top: 13px;
  position: absolute;
  right: 17px;
  width: 26px;
}

.filter-button-2 {
  .button-native {

    background: #fff;
  }
}

$midnight: #ffffff;
$clouds: #ecf0f1;
// General


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      margin-left: 1em;
    }
  }
}

/* Accordion styles */
.tabs {
  overflow: hidden;

}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  &-label {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    background: $midnight;
    cursor: pointer;
    color: #000000;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    font-weight: 400;
    /* Icon */

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
      transform: rotate(90deg);
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;

    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

  }
}

.range-slider {
  margin-left: 15px;
  margin-right: 15px;
}

.range-custom {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}


// :checked
input:checked {
  +.tab-label {

    &::after {
      transform: rotate(275deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
    color: #000;
  }
}

:host {
  .item-inner {
    padding-right: 0px !important;
  }
}

.backicon {
  width: 100%;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 30px;
  padding-top: 10px;

  img.bcicon {
    float: left;
    width: 12px;
  }

  img.tickright {
    float: right;
    width: 14px;
    margin-right: 12px;
  }
}

.slotleft {
  float: left;
  padding-left: 12px;
  margin-top: -17px;
}

.slotright {
  float: right;
  margin-right: 12px;
  margin-top: -17px;
}

.range-head {
  padding-left: 9px;
  margin-bottom: -11px;
  margin-top: 20px;
}

.range-md .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1);
}

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
  transform: scale(1);
  background-color: #000;
}

.range-ios .range-knob-handle .range-pin {
  transform: translate3d(0, 0, 0) scale(1);
}

.detail-range {
  background: #fff;
  padding: 6px 9px;
  margin-top: 17px;
  border: 1px solid #e9e9e9;
}

.split-pane-md.split-pane-visible>.split-pane-side[side=end] {
  min-width: 100%;
  max-width: 100%;
  border-right: 0;
  border-left: var(--border);
}
h2.main-title.text-center {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  color: #555555;
}
