<main-header></main-header>
<ion-content>
	<div class="ion-padding">
		<div class="product-slider">
			<h5 class="product-heading">Premiumanzeigen</h5>
			<ion-slides *ngIf="productsSlides" pager [pager]="false" [scrollbar]="true" [mode]="ios">
				<ion-slide *ngFor="let product of productsSlides">
					<ion-img [routerLink]="'/product/' + product.id" [src]="product.filename"
						class="product-main-slider"></ion-img>
					<div class="bg-title">
						<p class="product-slider-title">{{product.title}}</p>
						<p class="slider-price">{{product.price}} €</p>
					</div>
				</ion-slide>
			</ion-slides>
		</div>

		<div class="slider-1">
			<h5 class="product-heading">Kategorein<span></span></h5>
			<ion-slides #categorySlider [pager]="false" [scrollbar]="true" [options]="slideOpts" [mode]="ios">
				<ion-slide *ngFor="let category of categories">
					<div class="cst-slider-wrap">
						<a href="#">
							<ion-img [routerLink]="'/products/' + category.id" [src]="category.filename"
								class="product-main-slider">
							</ion-img>
							<p class="cat-title">{{ category.title  }}</p>
						</a>
					</div>

				</ion-slide>
			</ion-slides>
		</div>
		<div class="google-add">
			<ion-img [routerLink]="['/']" src="assets/google-add.png" class="add-img"></ion-img>
		</div>
		<div class="slider-2">
			<h5 class="product-heading">Neuste Artikel<span></span></h5>
			<ion-slides *ngIf="productsLatests" #categorySlider [pager]="false" [scrollbar]="true"
				[options]="slideOpts2" [mode]="ios">
				<ion-slide *ngFor="let product of productsLatests">
					<div class="cst-slider-wrap">
						<a href="#">
							<ion-img [routerLink]="'/product/' + product.id" [src]="product.filename"
								class="product-main-slider">
							</ion-img>
							<div class="main-bottom-slider">
								<p class="slider-price">{{ product.price }} €</p>
								<p class="slider-size">{{product.size}}</p>
								<p class="product-slider-title">{{ product.title }}</p>
							</div>
						</a>
					</div>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="slider-3">
			<h5 class="product-heading">Neuste User videos<span></span></h5>
			<ion-slides #categorySlider [pager]="false" [scrollbar]="true" [options]="slideOpts3" [mode]="ios">
				<ion-slide *ngFor="let video of videos">
					<ion-img [routerLink]="'/video/' + video.id" [src]="video.video_thumb"></ion-img>
				</ion-slide>
			</ion-slides>
		</div>

	</div>
</ion-content>
<main-footer></main-footer>