<main-header></main-header>
<ion-content padding>
	<!-- Logo -->
	<account-userinfo></account-userinfo>
	<!-- Header -->
	<myaccount-header></myaccount-header>
	<!-- /Header -->
	<button class="myAccountbtn">Rechnungen</button>
	<button class="myAccountbtn" (click)="updateProfile()">Nickname ändern</button>
	<button class="myAccountbtn" (click)="changePassword()">Passwort ändern</button>
	<button class="myAccountbtn" (click)="logout()">Logout</button>
	<div class="hr-myAccount"></div>

	<p class="text-tc">
		Händler können ihre Pflichtangaben über unsere <span class="strong-txt">Homepage</span>
		hinterlassen!
	</p>


</ion-content>
<main-footer></main-footer>