<main-header></main-header>
  
  
  <ion-content padding>
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown register-account">
      
        <div class="backicon"><img src="../assets/backicon.png"></div>
        <div class="">
  <div class="main-image"><img src="../assets/avatar-image.png">
    <span class="cam-image"><img class="cam-img"src="../assets/cam-icon.png"></span>
  </div>
          <h2 ion-text class="text-primary text-register">
            John Doe
               </h2>
               <div class="pull-right settings"><img src="../assets/settings.png"></div>  
        </div>
       
       
       </div>
       <!-- Label only -->
       <ion-segment>
        <ion-segment-button checked class="padding-0" >
          <ion-label class="padding-0">ARTIKEL</ion-label>
        </ion-segment-button>
        <ion-segment-button class="padding-0">
          <ion-label class="padding-0">MERKLISTE</ion-label>
        </ion-segment-button>
        <ion-segment-button class="padding-0">
          <ion-label class="padding-0">ACCOUNT</ion-label>
        </ion-segment-button>
        <ion-segment-button class="padding-0">
          <ion-label class="padding-0">HILFE</ion-label>
        </ion-segment-button>
      </ion-segment>
  
      <button class="myAccountbtn">Rechnungen</button>
      <button class="myAccountbtn">Nickname ändern</button>
      <button class="myAccountbtn">Passwort ändern</button>
      <button class="myAccountbtn">Logout</button>
  <div class="hr-myAccount"></div>
  
      <p class="text-tc">
        Händler können ihre Pflichtangaben über unsere <span class="strong-txt">Homepage</span>
        hinterlassen!
      </p>
     
     
      </ion-content>
      <footer>    <ion-row class="footer">
        <ion-col>
          <button ion-button icon-only color="grey" clear small class="footer w20">
           <img src="../assets/player.png">
           
            <div class="label-footer">Player</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only color="grey" clear small class="footer w20">
            <img src="../assets/add.png">
         
            <div class="label-footer">Inserieren</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only color="grey" clear small class="footer w20">
            <img src="../assets/chat.png">
      
            <div class="label-footer">Chat</div>
          </button>
        </ion-col>
       
        
      </ion-row>
    </footer>
  