
    .text-register{    color: #222222;
        font-size: 18px;
        font-weight: normal;
        text-align: center;}
    .backicon {
        float: left;
        width: 12px;
    }
    .register-account{position: relative;}
    .main-image img {
        width: 100px;
    }
    img.cam-img {
        width: 30px !important;
        position: relative;
        left: 8px;
    }
    .settings{position: absolute;    right: 0px;
        top: 0px;
       }
        .settings img{max-width:30px !important;}
        .backicon img{max-width:18px !important;}
        button.myAccountbtn {
            border: 1px solid #c3c3c3;
            background: #fff;
            width: 100%;
            padding: 12px 0px;
            margin: 10px 0px;
            border-radius: 5px;
            color: #555555;
            font-weight: 400;
        }


        .footer {
            margin-bottom: 0px;
    background: #fff;
    
    margin-left: 20px;
    margin-right: 20px;

    
        }
        button.footer {
            padding: 0px;
            width: 100%;
            background: transparent;
            margin: 0px;

            
        }
        .w20 img{width:20px;    margin-bottom: 10px;}
        .label-footer{font-size:12px;}
        footer {
            border-top: 2px solid #fcfcfc;
            padding-top: 5px !important;
        }
        p.text-tc {
            background: white;
            border: 1px solid #cacaca;
            padding: 10px;
            text-align: center;
            color: #555555;
            font-size: 12px;
    border-radius: 3px;
        }
        span.strong-txt {
            font-weight: bold;
        }
        .hr-myAccount {
            margin: 20px auto;
            width: 60%;
            height: 1px;
            background: #c3c3c3;
        }
        .animated.fadeInDown.register-account {
            padding: 0px;
        }
        ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated {
            font-size: 12px;
        }
        .padding-0 button.button-native{padding:0px !important}
        ion-ripple-effect.md.hydrated {
            border: 1px solid #cacaca;
            padding: 0px;
            margin: 0px;
            border-radius: 10px;
        }
        :host(.segment-button-checked) {
            border-color: none !important;
            border:none !important;
        }
        ion-segment-button {
            height: 30px;
            min-height: 30px;
            --padding-start: 0px;
            --padding-end: 0px;
            width: 50px !important;
            min-width: 10px !important;
            border: 1px solid #cacaca;
            margin: 2px;
            padding: 2px;
            font-size: 10px !important;
            border-radius: 4px;
          
          }