$bluecolor: #62c2e4;
$bgcolor: #fcfcfc;

:host {
  .inner-scroll {
    &.scroll-y {
      background-color: $bgcolor;
      padding: 10px;
    }
  }
  .item-native{
    padding-left: 0px !important;
  }
}
ion-icon.md.hydrated {
  color: $bluecolor;
  margin-top: 10px;
  font-size: 21px;
  float: left;
}
.main-title {
  margin-top: -1px !important;
  position: relative;
  top: 10px;
   img {
    width: 17px;
  }

}
.paragraph-description {
  margin-top: 25px;
}
.right-check{
    float: right;
    text-align: center;
    margin-top: -25px;

  img {
    width: 20px;
  }
  p{
  font-size: 16px;
  font-weight: 600;
    color: #555555;
}
}
.check-desc {
  float: left;
  font-size: 12px;
  width: 80%;
}
.main-label-check {
  b {
    float: left;
    width: 100%;
  }
}
.total-check{
  .total-desc {
    float: left;
    color: #888888;
    padding-left: 20px;
  }
  .totla-check-number {
    float: right;
    padding-right: 13px;
    font-weight: 600;
    font-size: 16px;
  }
}
.button-total-check {
  width: 90%;
  margin: 0px auto;
  ion-button.md.button.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 100%;
    height: 50px;
  }
}
ion-item {
  &.item-label {
    &.item {
      &.md {
        &.in-list{
          border-bottom: 1px solid #dedede;
        }
      }
    }
  }
}