<main-header></main-header>
<ion-content>
  <div class="ion-padding">
    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    <h2 class="main-title text-center"><img src="assets/bedge.png"> Premium Option </h2>
    <p class="paragraph-description text-center">Erhalte mehr Sichtbarkeit und Aufmerksamkeit für deine Produkte mit
      Hilfe von Premiumoptionen!</p>
    <!-- <div *ngFor="let option of options" class="main-list">
      <div class="list-detail" [routerLink]="'/premium-option'+ option.id">
        <h6 class="list-left">{{option.title}}</h6>
        <p class="checklist-desc">{{ option.desc }}</p>
      </div>
    </div> -->
  </div>
</ion-content>
<main-footer></main-footer>
