$bluecolor: #62c2e4;
$bgcolor: #fcfcfc;

:host {
  .inner-scroll {
    &.scroll-y {
      background-color: $bgcolor;
      padding: 10px;
    }
  }

  .item-native {
    padding-left: 0px !important;
  }
}

ion-icon.md.hydrated {
  color: $bluecolor;
  margin-top: 10px;
  font-size: 21px;
  float: left;
}

.main-title {
  margin-top: -1px !important;
  position: relative;
  top: 10px;

  img {
    width: 17px;
  }
}

.paragraph-description {
  margin-top: 25px;
}

.list-left {
  width: 100%;
  font-weight: 600;
  float: left;
}

.main-list {
  background: #fff;
  border: 1px solid #cccc;
  margin: -1px 15px;
  border-radius: 2px;
  padding: 0px 10px;

  .list-left {
    margin-bottom: 3px;
    margin-top: 10px;
  }

  .checklist-desc {
    font-size: 12px;
  }
}