<ion-header>
  <ion-toolbar>
    <ion-title>Premium Option</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
  <h2 class="main-title text-center">Premium Option </h2>
  <p class="paragraph-description text-center">Erhalte mehr Sichtbarkeit und Aufmerksamkeit für deine Produkte mit Hilfe von Premiumoptionen!</p>

    <div class="checkbox-premium-option">

        <ion-list>
            <ion-item>

                <ion-checkbox slot="start" value="one"  color="secondary"></ion-checkbox>
                <ion-label><b>Einmaliges hoch pushen</b> <p class="check-desc">Dein Artikel erscheint wieder ganz oben in der Liste</p>
                <div class="right-check">
                    <p>2,99 €</p>
                    <img src="assets/exclaimation-mark.png"/>
                </div>
                </ion-label>

            </ion-item>

            <ion-item>

                <ion-checkbox slot="start" value="two"  color="secondary"></ion-checkbox>
                <ion-label><b>Einmaliges hoch pushen</b> <p class="check-desc">Dein Artikel erscheint wieder ganz oben in der Liste</p>
                    <div class="right-check">
                        <p>2,99 €</p>
                        <img src="assets/exclaimation-mark.png"/>
                    </div>
                </ion-label>

            </ion-item>
            <ion-item>

                <ion-checkbox slot="start" value="three"  color="secondary"></ion-checkbox>
                <ion-label><b>Einmaliges hoch pushen</b> <p class="check-desc">Dein Artikel erscheint wieder ganz oben in der Liste</p>
                    <div class="right-check">
                        <p>2,99 €</p>
                        <img src="assets/exclaimation-mark.png"/>
                    </div>
                </ion-label>

            </ion-item>
            <ion-item>

                <ion-checkbox slot="start" value="four"  color="secondary"></ion-checkbox>
                <ion-label><b>Einmaliges hoch pushen</b> <p class="check-desc">Dein Artikel erscheint wieder ganz oben in der Liste</p>
                    <div class="right-check">
                        <p>2,99 €</p>
                        <img src="assets/exclaimation-mark.png"/>
                    </div>
                </ion-label>

            </ion-item>
            <ion-item>

                <ion-checkbox slot="start" value="five"  color="secondary"></ion-checkbox>
                <ion-label><b>Einmaliges hoch pushen</b> <p class="check-desc">Dein Artikel erscheint wieder ganz oben in der Liste</p>
                    <div class="right-check">
                        <p>2,99 €</p>
                        <img src="assets/exclaimation-mark.png"/>
                    </div>
                </ion-label>

            </ion-item>
        </ion-list>

    </div>
    <div class="total-check">
        <p class="total-desc">Preis inkl. Umsatzsteuer</p>
        <p class="totla-check-number">Summe: 4,99 €</p>

    </div>
    <div class="button-total-check">
    <ion-button shape="round">Kaufen und mit Paypal zahlen</ion-button>
    </div>
</ion-content>
