:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.cat-pt-name {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 600;
}

.video-player {
  position: relative;
}

.play-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 60%;
  margin-top: -50px;
  background-image: url("../../assets/play-img.png");
}

.threedots {
  position: absolute;
  background-image: url("../../assets/threedots.png");
  top: 6%;
  right: 2%;
  height: 30px;
  width: 30px;
}

.views {

  background-color: rgba(0, 0, 0, 0.31);
  width: 100px;
  height: 25px;
  position: absolute;
  bottom: 12%;
  left: 5%;
  padding: 5px;
  z-index: 2;

  .icon-view {
    background-image: url("../../assets/view.png");
    float: left;
    width: 25px;
    height: 15px;


  }

  .icon-view-text {
    color: #fff;
    font-size: 14px;
    float: right;

  }
}

::-webkit-media-controls {
  display: none !important;
}

.mainUserPlayer {
  width: 100%;
  float: left;

  .video-player-user {
    background-image: url("../../assets/video-player-user.png");
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 10px;



  }

  p.namevideoPlay {
    font-size: 13px;
    color: #555555;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 5px;
  }
}

.hr {
  border: 1px solid #c3c3c3;
  width: 60%;
  height: 1px;
  margin: 25px auto;
}

.google-add {
  margin: 10px 0px;
}

.mainVido {
  position: relative;
}

.menu-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
}

.backicon {
  float: left;
  width: 12px;
  margin-top: 0px;
  margin-bottom: 30px !important;
}

.searchline {
  font-size: 11px;
  color: #555555;
  text-align: left;
  margin-top: 4px;
  clear: both;
}

.search-bar-video {
  background: #fff !important;
  border: 1px solid #555555 !important;
  border-radius: 30px !important;
  width: 100% !important;
  font-size: 11px !important;
  margin-top: 10px;
  padding-left: 15px !important;
  height: 35px !important;
  text-align: left;
}

.searchline-smalltext {
  font-size: 9px;
  color: #555555;
  text-align: left;

}

.searchlineinput {
  clear: both;
  position: relative;
}

.icon-correct {
  position: absolute;
  width: 30px;
  height: 23px;
  background-image: url("../../assets/correct.png");
  right: 4%;
  z-index: 9999;
  top: 6px;
}


.product-list {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #fff;

  a {
    text-decoration: none;

    .product-title-list {
      margin-top: 0px;
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }


  }

  .price-prod-list {
    color: #62c2e4;
    margin-bottom: 0px;
  }

  .product-icon-image {
    height: 22px;
  }

  .border-bottom {
    border-bottom: 1px solid #d4d4d4;
    height: 2px;
  }

  .bottom-icon-list {
    border-right: 1px solid #d4d4d4;
  }

  .last-orange {
    color: #f7790d;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 3px;

    img {
      width: 12px;
      margin-right: 2px;
    }
  }
}

ion-segment.sc-ion-segment-md-h.sc-ion-segment-md-s.md.hydrated {
  margin-bottom: 18px;
}

.star-right {
  float: right;

  ion-img {
    width: 24px;
    float: left;
    background: #e9e9e9;
    padding: 5px;
    border-radius: 62px;
    margin-right: 5px;
  }

}

ion-list.md.list-md.hydrated img {

  margin-top: 0px !important;
}
.cat-pt-name {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: 600;
}

.border-bottom {
  border-bottom: 1px solid #d4d4d4;
  height: 2px;
  margin: 20px 50px;
}

.split-pane {
  position: absolute;
}

ion-menu[type="overlay"] {
  z-index: 80;
  position: fixed;
}

ion-menu[type="reveal"] {
  z-index: 80;
}

.split-pane-visible {
  z-index: 10;
}

.filter-button {
  background: none !important;
  float: right;
  top: 0px;
  position: absolute;
  right: 17px;
}

.filter-button-2 {
  .button-native {

    background: #fff;
  }
}

$midnight: #ffffff;
$clouds: #ecf0f1;
// General


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      margin-left: 1em;
    }
  }
}

/* Accordion styles */
.tabs {
  overflow: hidden;

}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  &-label {
    display: flex;
    // justify-content: space-between;
    padding: .5em 1em;
    background: $midnight;
    cursor: pointer;
    color: #000000;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    font-weight: 400;
    /* Icon */

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
      transform: rotate(90deg);
      position: absolute;
      right: 5%;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;

    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

  }
}

.range-slider {
  margin-left: 15px;
  margin-right: 15px;
}

// :checked
input:checked {
  +.tab-label {

    &::after {
      transform: rotate(275deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
    color: #000;
  }
}

:host {
  .item-inner {
    padding-right: 0px !important;
  }
}

button.del-icon {
  background: #fc6666;
  margin-top: 5px;
  padding: 0px 30px;

  .del-img {
    width: 30px;
  }
}

.main-message-list {

  border-top: 1px solid #d4d4d4;
  border-radius: 3px;
  margin-top: 5px;
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  --ion-item-background: #fff;

  .item-inner {
    padding: 0px;
  }
}

.main-list-message {
  width: 100%;

  .date-message {
    font-size: 12px;
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
  }

  .message-profile {
    width: 100px;
    float: left;
    padding-bottom: 17px;
    padding-left: 8px;
    padding: 10px;
    height: 60px;
  }

  .message-list-name {
    font-weight: 600;
    margin-top: 7px;
    // padding-left: 20px;
    float: left;
    font-size: 11px;
    width: 60%;

    span {
      clear: both;
      display: block;
      color: #62c2e4;
    }
  }
}

.heart-icon {
  margin-right: 10px;
}

.split-pane-md.split-pane-visible>.split-pane-side[side=end] {
  min-width: 100%;
  max-width: 100%;
  border-right: 0;
  border-left: var(--border);
}

.menutxt {
  font-size: 11.5px;
  margin-top: 2px;
}
