<main-header></main-header>
<ion-content padding>
    <ion-split-pane [when]="splitPaneState">
        <ion-menu side="end" contentId="content">
            <ion-content>
                <div padding-horizontal text-center class="animated fadeInDown register-account">

                    <div class="backicon"><img src="../assets/backicon.png" (click)="openMenu()"></div>
                    <div class="clearfix"></div>
                    <p class="searchline">
                        Füge einen YouTube-Link ein, um ein Video zu teilen.</p>
                    <div class="searchlineinput">
                        <div class="icon-correct"></div>
                        <ion-input type="text" aria-placeholder="You Tube Link einfügen"
                            placeholder="You Tube Link einfügen" class="search-bar-video"></ion-input>
                    </div>

                    <p class="searchline-smalltext">Der Missbrauch dieser Funktion kamn zur Sperrung denies Account</p>
                </div>
                <ion-list no-padding>
                    <ion-item no-padding tappable routerDirection="root">
                        <div class="row">
                            <div class="col">
                                <div class="tabs">
                                    <div class="tab">
                                        <input type="radio" id="rd1" name="rd">
                                        <label class="tab-label" for="rd1"><span class="heart-icon"><img
                                                    src="../assets/heart-icon.png"></span><span class="menetext">Meine
                                                Watchlist</span></label>
                                        <div class="tab-content">
                                            <ion-item-sliding (ionSwipe)="delete(item)">
                                                <ion-item no-padding class="main-message-list"
                                                    style="background-color: #0d47a1 !important">
                                                    <div class="main-list-message">
                                                        <ion-img [routerLink]="['/']" src="assets/img-01.png"
                                                            class="message-profile"></ion-img>
                                                        <p class="message-list-name">Fabio Wibmer - Fabiolous Escape 2
                                                        </p>
                                                    </div>
                                                </ion-item>
                                                <ion-item-options>
                                                    <button class="del-icon" ion-button expandable
                                                        (click)="delete(item)">
                                                        <ion-img [routerLink]="['/']" src="assets/icon-delete-white.png"
                                                            class="del-img"></ion-img>
                                                    </button>
                                                </ion-item-options>
                                            </ion-item-sliding>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <input type="radio" id="rd2" name="rd">
                                        <label class="tab-label" for="rd2"><span class="heart-icon"><img
                                                    src="../assets/video-icon.png"></span>Geteilte Videos</label>
                                        <div class="tab-content">
                                            <ion-item-sliding (ionSwipe)="delete(item)">
                                                <ion-item no-padding class="main-message-list"
                                                    style="background-color: #0d47a1 !important">
                                                    <div class="main-list-message">
                                                        <ion-img [routerLink]="['/']" src="assets/img-01.png"
                                                            class="message-profile"></ion-img>
                                                        <p class="message-list-name">Fabio Wibmer - Fabiolous Escape 2
                                                        </p>
                                                    </div>
                                                </ion-item>
                                                <ion-item-options>
                                                    <button class="del-icon" ion-button expandable
                                                        (click)="delete(item)">
                                                        <ion-img [routerLink]="['/']" src="assets/icon-delete-white.png"
                                                            class="del-img"></ion-img>
                                                    </button>
                                                </ion-item-options>
                                            </ion-item-sliding>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="content" main>
        </ion-router-outlet>
    </ion-split-pane>

    <div class="mainVido">
        <div class="cat-name">Video Timeline</div>
        <p class="cat-pt-name">Premium Video</p>
        <div class="menu-position">
            <div class="filter-button" (click)="openMenu()" class="menu-nav">
                <img src="../assets/menu-nav.png">
                <p class="menutxt">Menu</p>
            </div>
        </div>
    </div>
    <ion-card *ngFor="let video of videos">
        <div class="mainVido">
            <div class="video-player">
                <div class="play-icon" (click)="openVideo(video.video_id)"></div>
                <div class="threedots"></div>
                <div class="views">
                    <div class="icon-view"></div>
                    <div class="icon-view-text">{{ video.views }}</div>
                </div>
                <ion-img [src]="video.video_thumb" (click)="openVideo(video.video_id)"></ion-img>
            </div>
            <div class="mainUserPlayer">
                <div class="video-player-user"></div>
                <p class="namevideoPlay">{{ video.title }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="hr"></div>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<main-footer></main-footer>