<main-header></main-header>
<ion-split-pane [when]="splitPaneState">
    <ion-menu side="end" contentId="content">
        <div padding-horizontal text-center class="animated fadeInDown register-account">
            <div class="backicon"><img src="../assets/backicon.png" (click)="openMenu()"></div>
            <div class="clearfix"></div>
            <p class="searchline">
                Füge einen YouTube-Link ein, um ein Video zu teilen.</p>
            <div class="searchlineinput">
                <div class="icon-correct"></div>
                <ion-input type="text" aria-placeholder="You Tube Link einfügen" placeholder="You Tube Link einfügen"
                    class="search-bar-video"></ion-input>
            </div>
            <p class="searchline-smalltext">Der Missbrauch dieser Funktion kamn zur Sperrung denies Account</p>
        </div>
        <ion-list class="ion-no-padding">
            <ion-item no-padding tappable routerDirection="root">
                <div class="row">
                    <div class="col">
                        <div class="tabs">
                            <div class="tab">
                                <input type="radio" id="rd1" name="rd">
                                <label class="tab-label" for="rd1"><span class="heart-icon"><img
                                            src="../assets/heart-icon.png"></span><span class="menetext">Meine
                                        Watchlist</span></label>
                                <div class="tab-content">
                                    <ion-item-sliding (ionSwipe)="delete()">
                                        <ion-item no-padding class="main-message-list"
                                            style="background-color: #0d47a1 !important">
                                            <div class="main-list-message">
                                                <ion-img [routerLink]="['/']" src="assets/img-01.png"
                                                    class="message-profile"></ion-img>
                                                <p class="message-list-name">Fabio Wibmer - Fabiolous Escape 2
                                                </p>
                                            </div>
                                        </ion-item>
                                        <ion-item-options>
                                            <button class="del-icon" ion-button expandable (click)="delete()">
                                                <ion-img [routerLink]="['/']" src="assets/icon-delete-white.png"
                                                    class="del-img"></ion-img>
                                            </button>
                                        </ion-item-options>
                                    </ion-item-sliding>
                                </div>
                            </div>
                            <div class="tab">
                                <input type="radio" id="rd2" name="rd">
                                <label class="tab-label" for="rd2"><span class="heart-icon"><img
                                            src="../assets/video-icon.png"></span>Geteilte Videos</label>
                                <div class="tab-content">
                                    <ion-item-sliding (ionSwipe)="delete()">
                                        <ion-item no-padding class="main-message-list"
                                            style="background-color: #0d47a1 !important">
                                            <div class="main-list-message">
                                                <ion-img [routerLink]="['/']" src="assets/img-01.png"
                                                    class="message-profile"></ion-img>
                                                <p class="message-list-name">Fabio Wibmer - Fabiolous Escape 2
                                                </p>
                                            </div>
                                        </ion-item>
                                        <ion-item-options>
                                            <button class="del-icon" ion-button expandable (click)="delete()">
                                                <ion-img [routerLink]="['/']" src="assets/icon-delete-white.png"
                                                    class="del-img"></ion-img>
                                            </button>
                                        </ion-item-options>
                                    </ion-item-sliding>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </ion-item>
        </ion-list>
    </ion-menu>
    <ion-router-outlet id="content" main>
    </ion-router-outlet>
</ion-split-pane>
<ion-content padding>
    <div class="mainVido">
        <div class="cat-name">Video Timeline</div>
        <p class="cat-pt-name">Premium Video</p>
        <div class="menu-position">
            <div class="filter-button" (click)="openMenu()" class="menu-nav">
                <img src="../assets/menu-nav.png">
                <p class="menutxt">Menu</p>
            </div>
        </div>
    </div>
    <div *ngFor="let video of videos">
        <div class="mainVido">
            <div class="video-player">
                <iframe width="100%" height="315" [src]="video.video_url" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="hr"></div>
    </div>
</ion-content>
<main-footer></main-footer>
