<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content padding>
<!-- Logo -->
<div padding-horizontal text-center class="animated fadeInDown register-account">

  <div class="backicon"><img src="../assets/backicon.png"></div>
   <h2 ion-text class="text-primary text-register">
  Account erstellen
   </h2>
 
 </div>

 <!-- Login form -->
 <form class="list-form">
  
    
     <ion-input type="text"  placeholder="Nickname" class="input-login"></ion-input>
     <ion-input type="text" placeholder="Vorname" class="input-login"></ion-input>
     <ion-input type="text"  placeholder="Nachname" class="input-login"></ion-input>
     <ion-input type="email"  placeholder="Email" class="input-login"></ion-input>
     <ion-input type="email" placeholder="Email wiederholen" class="input-login"></ion-input>
     <ion-input type="password" placeholder="Password" class="input-login"></ion-input>
     <ion-input type="password" placeholder="Password wiederholen" class="input-login"></ion-input>
   
    <p class="tc">Mit der Erstellung eines Account akzeptieren Sie unsere <span class="blue">AGB</span> 
      
      
      sowie
      <span class="blue">Datenschutzerklärung</span> 
      
    </p>
    
     <button ion-button icon-start block color="dark" class="button-login">
     ACCOUNT  ERSTELLEN
     </button>


 </form>
</ion-content>
