<main-header></main-header>
<ion-content padding>
  <!-- Logo -->
  <div padding-horizontal text-center class="animated fadeInDown register-account">
    <div class="backicon"><img src="../assets/backicon.png"></div>
    <h2 ion-text class="text-primary text-register">
      Account erstellen
    </h2>
  </div>
  <!-- Login form -->
  <ion-card>
    <form class="list-form">
      <ion-input type="text" placeholder="Nickname" [(ngModel)]="nickname" name="nickname" class="input-login">
      </ion-input>
      <ion-input type="text" placeholder="Vorname" [(ngModel)]="firstname" name="firstname" class="input-login">
      </ion-input>
      <ion-input type="text" placeholder="Nachname" [(ngModel)]="lastname" name="lastname" class="input-login">
      </ion-input>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email" name="email" class="input-login"></ion-input>
      <ion-input type="email" placeholder="Email wiederholen" [(ngModel)]="verifyemail" name="verifyemail"
        class="input-login"></ion-input>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password" name="password" class="input-login">
      </ion-input>
      <ion-input type="password" placeholder="Password wiederholen" [(ngModel)]="verifypassword" name="verifypassword"
        class="input-login"></ion-input>
      <p class="tc">Mit der Erstellung eines Account akzeptieren Sie unsere <span class="blue">AGB</span>
        sowie
        <span class="blue">Datenschutzerklärung</span>
      </p>
      <button ion-button icon-start block color="dark" (click)="register()" class="button-login">
        ACCOUNT ERSTELLEN
      </button>
    </form>
  </ion-card>
</ion-content>