<main-header></main-header>
<ion-content padding>
  <!-- Logo -->
  <div class="bg-color">
    <div padding-horizontal text-center class="animated fadeInDown policies bg-color">
      <ion-buttons slot="start">
        <ion-back-button text="" class="backicon"></ion-back-button>
      </ion-buttons>
      <!-- <div class="backicon"><img src="../assets/backicon.png"></div> -->
      <div class="mt2">
        <div class="text-tc main-div-settings">
          <ul class="main-nav-settings">
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/bell.png"></span><span
                class="main-text">Benachrichtigungen</span></li>
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/file.png"></span><span
                class="main-text">Datenschutz</span>
            </li>
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/file.png"></span><span
                class="main-text">Nutzungsbedingungen</span></li>
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/file.png"></span><span
                class="main-text">Copyright</span></li>
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/acc_setting.png"></span><span
                class="main-text">Hilfe</span>
            </li>
            <li (click)="openNotifications()"><span class="icon-1"><img src="../assets/bug.png"></span><span
                class="main-text">Störung melden</span>
            </li>
          </ul>
        </div>
        <p class="version">Version 1.0</p>
      </div>
    </div>
  </div>
</ion-content>

<main-footer></main-footer>